<body>
<form>
    <div class="container">
 <h1> Angular CRUD-REGISTER Form</h1> 
 <hr>  
 <label> Firstname: </label>   
 <input type="text" name="firstname" [formControl] placeholder= "Firstname" size="15" required  />   <br><br>
 
 <label> Lastname: </label>    
 <input type="text" name="lastname" placeholder="Lastname" size="15"required /> <br><br>
 <label> Address: </label>    
 <input type="text" name="lastname" placeholder="Address" size="15"required /> <br><br>
 <label> Contact Number: </label>    
 <input type="text" name="lastname" placeholder="Contact Number" size="15"required /> <br><br>
 <label> Email ID: </label>    
 <input type="text" name="lastname" placeholder="Email ID" size="15"required /> <br><br>

 <label> Password: </label>    
 <input type="text" name="lastname" placeholder="Password" size="15"required /> <br><br>

 <button type="submit" class="registerbtn">Register</button>    
    </div>
</form>
</body>
