<body>
<div class="main">

    <div class="login-reg"  >  
    <button class="btn" (click)="navigateOwnerLogin()"> Owner login </button>
    </div>

    <div class="login-reg"> 
        <button class="btn" (click)="navigateEmployeeLogin()">Employee login</button>
    </div>

    <div class="login-reg">
         <button class="btn" (click)="navigateAdminLogin()" > Admin login </button>
    </div>

    <div class="login-reg">
        <button class="btn" (click)="navigateOwnerReg()" >  Owner Register </button>
    </div>
    <div class="login-reg"> 
        <button  class="btn" (click)="navigateEmpReg()"> Employee Register </button>
    </div>
    <div class="login-reg"> 
        <button  class="btn" (click)="navigateAdminReg()"> Admin Register </button>
    </div>

</div>̥
</body>
